body{
    background: #eee;
}

.timeline{
    background: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
}

.timeline{
    margin-right: .5rem;
}

.timeline-item{
    border-bottom: 2px solid #eee;
    padding: .6rem;
}

.timeline-item:last-child{
    border-bottom: none;
}

.timeline-item .thumbnail{
    /* padding: .6rem; */
}

.timeline-item .thumbnail img{
    border-radius: 5px;
}

.timeline-item .middle{
    padding-left: .5rem;
}

.timeline-item .pill{
    margin-right: .7em;
}

.cat-list{
    padding-left: .5rem;
    padding-top: .5rem;
}

.cat-item{
    display: block;
    margin-bottom: .5rem;
}

.ad-box{
    padding: 0;
}

.ad{
    display: block;
}