.img-group,
.nav.page .search{
    margin-top: 24px;
}

.logo{
    background-image: url(../img/mi-logo.png);
    width: 60px;
    height: 60px;
    background-color: #ff6700;
    background-position: center;
    background-size: 90%;
}

.nav.page .link-group > *{
    font-size: 1.6em;
    display: inline-block;
    padding: 40px 8px;
}

.nav.page .link-group > a:hover{
    color: #ff6700;
}

.nav.page .search{
    position: relative;
}

.nav.page .search .input-group > *{
    padding: 15px;
    border-color: #ccc;
    transition: .2s;
}

.nav.page .search .input-group input{
    width: 240px;
    border-right: none;
    vertical-align: middle;
}

.nav.page .search .input-group button{
    vertical-align: middle;
    padding: 14px;
}

.nav.page .search .input-group:hover > *{
    border-color: #999;
}

.nav.page .search .input-group button:hover
,.nav.page .search .rec:hover{
    background: #ff6700;
    color: #fff;
}

.nav.page .search .input-group button:hover{
    border-color: #ff6700;
}

.nav.page .search .rec-group{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0px,-50%);
}

.nav.page .search .rec{
    margin-left: 2px;
    display: inline-block;
    padding: 2px;
}

