.container {
    margin-top: 5em;
}

.container>* {
    float: left;
}

.left {
    width: 20%;
    padding: 0 .5em;
}

.right {
    width: 80%;
}

.title {
    margin-top: 3em;
}

.add button,
.cats>.item {
    cursor: pointer;
}

.cats>.item {
    margin-bottom: .5em;
    background: #fff;
    padding: .2em .5em;
}

.cats>.item:hover {
    background: #ccc;
}

.active {
    border: 2px solid #444;
}

#form1 input,
#form2 input,
.add button {
    width: 100%;
    outline: 0;
    border: 1px solid #444;
}

#form1 input:focus,
#form2 input:focus {
    border: 2px solid #444;
}

.add button {
    margin-bottom: .2em;
    background: #444;
    color: #eee;
}

.add button:focus{
    background: #aaa;
    color:#444;
    border: 1px solid transparent;
}

#form2 input {
    padding: .2em;
}

#form1 input {
    padding: 1em;
}

.todo-list {
    padding-top: 2em;
}

.todo-item {
    background: #fff;
    font-size: 0;
    margin-bottom: .5rem;
}

.todo-item>* {
    padding: 1rem;
    display: inline-block;
    font-size: 1rem;
}

.todo-item>.checkbox {
    width: 5%;
}

.todo-item>.content {
    width: 65%;
}

.todo-item>.operations {
    width: 30%;
    text-align: right;
}

.checkbox-input input[type="checkbox"] {
    display: none;
}

.checkbox-input {
    position: relative;
}

.checkbox-input input[type="checkbox"]+span {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 1px solid #444;
    vertical-align: middle;
}

.checkbox-input input[type="checkbox"]:checked+span::before {
    content: "";
    display: inline-block;
    width: .7em;
    height: .7em;
    left: .18em;
    top: .44em;
    position: absolute;
    background: #444;
    vertical-align: middle;
}

.todo-item .operations button {
    background: transparent;
    border: 1px #444 solid;
    padding: .3em;
    outline: none;
}

.todo-item .operations button:focus {
    background: #444;
    color: #fff;
}