.container {
    margin-top: 5em;
}

.container>* {
    float: left;
}

.left {
    width: 20%;
    padding: 0 .5em;
    margin-top: 10.6em;
}

.right {
    width: 80%;
}

.title {
    margin-top: 3em;
    margin-bottom: 1em;
}

.add button,
.cat-list>.item {
    cursor: pointer;
}

.cat-list .item {
    position: relative;
}

.cat-list .item .operations {
    position: absolute;
    text-align: right;
    font-size: .5em;
    right: .2em;
    top: .5em;
}

.cat-list .item .operations > span {
    display: block;
    color: #999;
}

.cat-list .item .operations span:hover {
    color: #444;
}

.cat-list>.item::before {
    content: "";
    height: 100%;
    background: #444;
    position: absolute;
    left: 0;
    top: 0;
}

.cat-list>.item:hover.item::before {
    width: .2em;
}

.cat-list>.item {
    margin-bottom: .5em;
    font-size: 1.2em;
    background: #fff;
    padding: .5em .5em;
}

.active {
    border: 2px solid rgb(114, 105, 105);
}

#todo-form input,
#cat-form input,
.add button {
    width: 100%;
    outline: 0;
    border: 1px solid #444;
}

.ops {
    padding-top: .2em;
}

.cat-list .item .operations {
    display: none;
}
.cat-list .item:hover .operations {
    display: inline-block;
}

.ops::before,
.ops::after {
    content: "";
    clear: both;
    display: block;
}

.ops button {
    width: 49%;
    background: #444;
    color: #eee;
    border: none;
    cursor: pointer;
}

.ops [type="submit"] {
    float: left;
}

.ops .cancel {
    float: right;
}

#todo-form input:focus,
#cat-form input:focus {
    border: 2px solid #444;
}

.add button {
    margin-bottom: .2em;
    background: #444;
    color: #eee;
}

.add button:focus {
    background: #aaa;
    color: #444;
    border: 1px solid transparent;
}

#cat-form input {
    padding: .2em;
}

#todo-form {
    margin-bottom: .5em;
}

#todo-form input {
    padding: 1em;
}

.todo-list {
    padding-top: em;
}

.todo-item {
    background: #fff;
    font-size: 0;
    margin-bottom: .5rem;
}

.todo-item>* {
    padding: 1rem;
    display: inline-block;
    font-size: 1rem;
}

.todo-item>.checkbox {
    width: 5%;
}

.todo-item>.content {
    width: 64%;
}

.todo-item>.operations {
    width: 30%;
    text-align: right;
}

.checkbox-input input[type="checkbox"] {
    display: none;
}

.checkbox-input {
    position: relative;
}

.checkbox-input input[type="checkbox"]+span {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 1px solid #444;
    vertical-align: middle;
}

.checkbox-input input[type="checkbox"]:checked+span::before {
    content: "";
    display: inline-block;
    width: .7em;
    height: .75em;
    left: .17em;
    top: .41em;
    position: absolute;
    background: #444;
    vertical-align: middle;
}

.todo-item .operations button {
    background: transparent;
    border: 1px #444 solid;
    padding: .3em;
    outline: none;
}

.todo-item .operations button:focus-within {
    background: #444;
    color: #fff;
}